<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default length</key>
	<string></string>
	<key>personal item</key>
	<dict>
		<key>default length</key>
		<string>17</string>
		<key>1</key>
		<dict>
			<key>name</key>
			<string>風衣</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<string>保暖衣</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>3</key>
		<dict>
			<key>name</key>
			<string>排汗衣(車衣)</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>4</key>
		<dict>
			<key>name</key>
			<string>車褲</string>
			<key>msg</key>
			<string>長、短車褲</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>5</key>
		<dict>
			<key>name</key>
			<string>登山鞋</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>6</key>
		<dict>
			<key>name</key>
			<string>行程計劃</string>
			<key>msg</key>
			<string>李誠、高度、時間規劃及注意事項</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>7</key>
		<dict>
			<key>name</key>
			<string>太陽眼鏡</string>
			<key>msg</key>
			<string>清潔</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>8</key>
		<dict>
			<key>name</key>
			<string>安全帽</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>9</key>
		<dict>
			<key>name</key>
			<string>頭巾</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>10</key>
		<dict>
			<key>name</key>
			<string>手套</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>11</key>
		<dict>
			<key>name</key>
			<string>身分證</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>12</key>
		<dict>
			<key>name</key>
			<string>健保卡</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>13</key>
		<dict>
			<key>name</key>
			<string>雨衣</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>14</key>
		<dict>
			<key>name</key>
			<string>雨帽</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>15</key>
		<dict>
			<key>name</key>
			<string>背包</string>
			<key>msg</key>
			<string>決定大小背包</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>16</key>
		<dict>
			<key>name</key>
			<string>口罩</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>17</key>
		<dict>
			<key>name</key>
			<string>貼身衣物</string>
			<key>msg</key>
			<string>除貼身衣物外是否攜帶休閒服裝</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
	</dict>
	<key>accessories item</key>
	<dict>
		<key>default length</key>
		<string>9</string>
		<key>1</key>
		<dict>
			<key>name</key>
			<string>頭燈</string>
			<key>msg</key>
			<string>檢查電池電力</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<string>尾燈</string>
			<key>msg</key>
			<string>檢查電池電力</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>3</key>
		<dict>
			<key>name</key>
			<string>後袋</string>
			<key>msg</key>
			<string>備胎、簡易工具是否放入</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>4</key>
		<dict>
			<key>name</key>
			<string>歸零</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>5</key>
		<dict>
			<key>name</key>
			<string>GPS</string>
			<key>msg</key>
			<string>充電、路徑輸入</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>6</key>
		<dict>
			<key>name</key>
			<string>水壺</string>
			<key>msg</key>
			<string>數量(依據季節、形成)</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>7</key>
		<dict>
			<key>name</key>
			<string>車鎖</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>8</key>
		<dict>
			<key>name</key>
			<string>馬鞍袋</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>9</key>
		<dict>
			<key>name</key>
			<string>輕便貨架</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
	</dict>
	<key>diet</key>
	<dict>
		<key>default length</key>
		<string>3</string>
		<key>1</key>
		<dict>
			<key>name</key>
			<string>零食</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<string>泡麵、餅乾</string>
			<key>msg</key>
			<string>符合行程上熱量補充</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>3</key>
		<dict>
			<key>name</key>
			<string>飲水</string>
			<key>msg</key>
			<string>數量(依據季節、形成)</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
	</dict>
	<key>tool</key>
	<dict>
		<key>default length</key>
		<string>7</string>
		<key>1</key>
		<dict>
			<key>name</key>
			<string>拆胎棒</string>
			<key>msg</key>
			<string>2~3支</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<string>打鍊器</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>3</key>
		<dict>
			<key>name</key>
			<string>六角板手</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>4</key>
		<dict>
			<key>name</key>
			<string>備胎</string>
			<key>msg</key>
			<string>檢查是否為可用品</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>5</key>
		<dict>
			<key>name</key>
			<string>補胎片</string>
			<key>msg</key>
			<string>檢查是否用完需增補</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>6</key>
		<dict>
			<key>name</key>
			<string>砂紙</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>7</key>
		<dict>
			<key>name</key>
			<string>打氣筒</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
	</dict>
	<key>other</key>
	<dict>
		<key>default length</key>
		<string>6</string>
		<key>1</key>
		<dict>
			<key>name</key>
			<string>爐具</string>
			<key>msg</key>
			<string>瓦斯罐容量是否足夠</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<string>相機</string>
			<key>msg</key>
			<string>記憶卡、電池充電、鏡頭保養</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>3</key>
		<dict>
			<key>name</key>
			<string>手機</string>
			<key>msg</key>
			<string>充電</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>4</key>
		<dict>
			<key>name</key>
			<string>充電器</string>
			<key>msg</key>
			<string>相機、手機、GPS充電</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>5</key>
		<dict>
			<key>name</key>
			<string>攜車架</string>
			<key>msg</key>
			<string></string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
		<key>6</key>
		<dict>
			<key>name</key>
			<string>攜車袋</string>
			<key>msg</key>
			<string>含拆踏板板手</string>
			<key>gram</key>
			<string>-1</string>
			<key>class</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
